@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
}

@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue-Regular.otf');
}

.font-clashdisplay {
  font-family: 'Clash Display', sans-serif;
}

.glass-morphism {
  background: rgba(9, 8, 8, 0.74);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.glass-morphism-white {
  background: rgba(227, 227, 227, 0.74);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.slick-prev {
  left: -36px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  transform: translateY(-20px);
  height: 50px;
  width: 30px;
  /* color: #000000; */
  font-size: 35px;
  /* background-color: #f1bec4; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.slick-dots li button:before {
  color: orange;
  width: 20px !important;
}

.gradient-text {
  background-image: linear-gradient(45deg, #96D312, #E92F2F);
  color: transparent;
  background-clip: text;
}